* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    height: 100%;
}

#zhifubao {
    height: 100%;
    display: flex;
    flex-direction: column;
    .zfb-header{
        height:160px;
        background:#58bc58;
        display: flex;
        flex-direction: column;
        .list1{
            flex:1;
            display: flex;
           
            li{
                flex:1;
                display: flex;
                align-items: center; 
                i{
                    font-size: 19px;
                    color:#fff;
                }
                span{
                    font-size: 12px;
                    color:#fff;
                    margin-left:11px;
                }
            }
            li:nth-child(1){
                flex: 6;
                padding-left:16px;
            }
            
        }
        .list2 {
            flex: 3;
            display: flex;
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1;
                
                i {
                    font-size: 35px;
                    line-height: 35px;
                    color: #fff;
                }

                span {
                    font-size: 15px;
                    line-height: 15px;
                    color: #fff;
                    margin-top: 14px;
                }
            }
        }

    }
    .zfb-main{
        display: flex;
        
        flex: 1;
        ul{
          display: flex;
        //   flex-direction: column;
  flex-wrap: wrap;
          li{
              height:90px;
              width:25%;
              border-right:1px solid #ccc;
              border-bottom:1px solid #ccc;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              i{
                  font-size: 25px;

              }
              span{
                  font-size: 12px;
                  color:#878787;
                  line-height: 12px;
                  margin-top:13px;
              }
          } 
          li:nth-child(4n){
              border-right:none;

          }
       
        }
        
         
         

    }
    .zfb-footer{
        height: 50px;
        background:pink;
       
        .list3 {
            flex: 3;
            display: flex;
            height: 100%;

            li {
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 22px;
                    line-height: 22px;
                    color: #929292;
                }

                span {
                    font-size: 10px;
                    line-height: 10px;
                    color: #929292;
                    margin-top: 3px;
                }
            }
        }
    }
}